@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Della Respira';
    font-style: normal;
    font-size: 15px;
}

ul{
    list-style: none;
}

nav li{
    margin-left: 2%;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition:color 0.5s ease-in-out;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 20px;
    color: white;
}
h3{
    font-size: 18px;
    padding-left: 2%;
}
button{
    width: 100%;
}

/*Tratamiento Imagenes*/
.orderImg{
    width: 40px;
}
.imageWho{
    border-radius: 4%;
    width: 45%;
}
.imgWhat{
    border-radius: 4%;
    width: 75%;
}

/*Estilos Varios*/
.borderLineBlack{
    border: 1px solid black;
}
.backgroundBlack{
    background-color: black;
}
.backgroundGray{
    background-color: #1E1E1E;
}
.paddingTop{
    padding-top: 10px;
}
.paddingTopMobile{
    padding-top: 5px;
}
.fontColorWhite{
    color: white;
}
.marginTop{
    margin-top: 2.5%;
}
.tableSize{
    height: 55vh;
}
.tableSizeMobile{
    height: 15vh;
}
.marginWho{
    margin-top: 20px;
}
.marginWhat p{
    text-indent: 5%;
}
.marginWhat{
    margin-top: 5%;
    margin-left: 10%;
}
.imageWhat{
    margin-top: 5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.cardWhatMargin{
    margin-right: 2%;
}
.mainWhat{
    margin-top: 1%;
    margin-left: 3%;
}
.marginTotal{
    margin-top: 25%;
}

/*Zona displays*/
.displayNone{
    display: none;
}
.flex{
    display: flex;
}
.flexColumn{
    flex-direction: column;
}
.flexCenter{
    justify-content: center;
    align-items: center;
}
.flexAlignEnd{
    align-items:baseline;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: 
        "cornerLT  nav nav     nav     nav     nav     nav     cornerRT"
        "menus     contents contents contents contents contents contents order"
        "cornerLB  address address address address address address cornerRB"
        "footer    footer footer  footer  footer  footer  footer  footer"
    ;
}

.flexTray{
    display: flex;
}
.map{
    width: 100%;
    height: 62vh;
}


/*Partes Grid*/
.cornerLT{
    grid-area: cornerLT;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cornerRT{
    grid-area: cornerRT;
}
.nav{
    grid-area: nav;
}
.nav ul{
    width: 100%;
    align-items: center;
}
.menu{
    grid-area: menus;
}
.menu h1{
    padding: 1.5%;
}
.content{
    grid-area: contents;
}
.order{
    grid-area: order;
}
.cornerLB{
    grid-area: cornerLB;
}
.address{
    grid-area: address;
}
.cornerRB{
    grid-area: cornerRB;
}
.footer{
    grid-area: footer;
}

/*Animaciones*/
#box-object{
    background-color: black;
    width: 0.01vw;
    height: 0.01vh;
    visibility: hidden;
}
.contentAnimation{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.scale-in-tl{animation:scale-in-tl .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-tl{0%{transform:scale(0);transform-origin:0 0;opacity:0}100%{transform:scale(2000);transform-origin:0 0;opacity:0.85}}

.scale-in-tl-mb{animation:scale-in-tl-mb .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-tl-mb{0%{transform:scale(0);transform-origin:0 0;opacity:0}100%{transform:scale(200);transform-origin:0 0;opacity:0.85}}
li:hover a{
    color:dimgray;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/*Media Smartphones*/
@media(max-width:768px) {
    *{
        font-size: 12px;
    }
    .top{
        height: 15vh;
    }
    .med{
        height: 55vh;
    }
    .bot{
        height: 30vh;
    }
    .rectangles{
        height: 10vh;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: contents;
    }
    .mapMobile{
        width: 100%;
        height: 55vh;
    }
    .imgTray{
        margin-top: 5%;
        width: 100%;
        height: 50vh;
    }
}

/*Media Tablets*/
@media (min-width:769px)  and (max-width:992px) {
    .top{
        height: 15vh;
    }
    .med{
        height: 60vh;
    }
    .bot{
        height: 24vh;
    }
    .rectangles{
        height: 8vh;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: contents;
    }
    .mapMobile{
        width: 100%;
        height: 60vh;
    }
    .imgTray{
        margin-top: 1%;
        width: 100%;
        height: 58vh;
    }
}


/*Media Escritorio*/
@media(min-width:992px) {

    .top{
        height: 12vh;
    }
    .med{
        height: 62vh;
    }
    .bot{
        height: 12vh;
    }
    .desktop{
        display: contents;
    }
    .mobile{
        display: none;
    }
    h1{
        font-size: 18px;
    }
    .imgTray{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 60vh;
    }
}