    /**Siempre se reinicia*/
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
p{
    padding: 2%; /** padding: top right bottom left - padding: ejeY ejeX **/
    border: 1px solid /** border-width: ; border-style: ; border-color: ;**/;
    margin: 2%;
}
.redonda{
        border-radius: 50% 10% 10% 50% /** top-right left-top bottom-left right-bottom ;**/ ;
        box-shadow: -10px 20px 15px 2px black; /** Eje x e Y  - profundidad - blur - color**/
}
.navBar1 li{
    display: inline;
    background-color: blue;
    margin: 5px;
}
.navBar2 li{
    display: block;
    background-color: blue;
    margin: 5px;
}