@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    /**Siempre se reinicia*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/img/background.jpg");
}
h1{
    color: blue;
}
h2{
    color: white;
}
.parrafoPrincipal{
    color: yellow;
    background-color: black;
}
img{
    width: 25%;
}

div{
    background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");

}

h2{
    /**Propiedades de texto*/
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
}
article div p{
    color: brown;
    /** Sangria*/
    text-indent: 20px;
    /** separado de letra*/
    letter-spacing: 1px;
    line-height: 1;
    /** separado de palabras*/
    word-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.articulo3 p{
    color:black;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
