*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 150px;
    height: 100px;
}
.box1{
    background-color: aquamarine;
    order: 7;
    /* flex-grow: 1; */
    /* si queda espacio lo ocupa */
}
.box2{
    background-color: bisque;
    order: 6;
}
.box3{
    background-color: blue;
    order: 4;
    flex-grow: 1;
    align-self: flex-end;
}
.box4{
    background-color: chartreuse;
    order: 5;
}
.box5{
    background-color: crimson;
    order: 3;
}
.box6{
    background-color: cyan;
    order: 2;
}
.box7{
    background-color: darkgrey;
    order: 1;
}
.container{
    display: flex;
    height: 600px;
    background-color: black;
    flex-direction: row; /* column - reverse*/
    flex-wrap: wrap ; /* responsive - dependiendo tamaño de pantalla */
    flex-flow: row wrap ;
    /*manera abreviada*/
    justify-content:center;
    /* flex-start como inicio - flex-end - space-between - */
    align-items: center;
    gap: 2px 40px;
    /*eje x (column-gap) - eje y (row-gap) */
}
header{
    background-color: black;
    margin-bottom: 5px;
}
.navBar{
    display: flex;
    font-size: 40px;
    gap: 20px;
    justify-content: space-evenly;
}
.navBar li{
    list-style: none;
    color: white;
}
body{
    width: 100vw;
    
}